[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
pillow = "*"
django-crispy-forms = "*"
django-registration = "==2.4.1"
django-bootstrap3 = "*"
django-urls = "*"
six = "*"
django-utils-six = "*"

[dev-packages]

[requires]
python_version = "3.8"
