body{
    background-color:  #FAFAFA;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 header{
    background-color:#ffff;
    border-bottom: 0.1vw solid grey; 

 }
 .navigation{
    display:flex ;
    flex-direction: row;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow:0.1vw 0.5v white;
    justify-content: space-around;
 }
