{% extends 'clone/base.html' %}

{% block content %}
   
    {% for post in posts %}
    <div class="main">
        <div class="first">

        </div>
        <div class="cont">
            <div class="card">
                <div class="card_header">
                    <div class="profile_image">
                        <img src="" alt="">
                    </div>
                    <div class="post_info">
                        <div class="post_name">
                           <a href="">{{post.author}}</a> 
                        </div>
                        <div class="post_location">
                           <p><i class="fa-solid fa-location-dot"></i> &ensp;Newyork</p> 
                        </div>
                    </div>
                    <div class="post_options">
                        <i class="fa-solid fa-ellipsis fa-lg"></i>
                    </div>
                </div>
                <div class="post_image">
                    <img src="{{post.image.url}}" alt="">
                </div>
                <div class="engagement">
                    <div class="comment">
                        <a href="/"> <i class="far fa-heart fa-lg"></i></a>
                        <a href=""><i class="fa-solid fa-comment fa-lg" ></i></a>
                        <a href=""><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
                    </div>
                    <div class="dot">
                        <a href=""><i class="fa-solid fa-ellipsis fa-lg"></i><i class="fa-solid fa-ellipsis fa-lg"></i></a>
                    </div>
                    <div class="save">
                        <a href=""><i class="fa-solid fa-bookmark fa-lg"></i></a>
                    </div>
                    
                </div>
                <div class="clicks">
                    <a href="">143 likes</a>
                </div>
                <div class="caption">
                    <a href="">{{post.author}}</h2></a>
                    <span><p>{{post.caption}}</p></span>
                </div>
                <div class="date">
                    {{post.created_on|timesince}} &ensp;  ago
                </div>
            </div>
        
        <div class="last">

        </div>

    </div>
    
 
  

    {% endfor %}


{% endblock %}
