{%  extends 'clone/base.html'%}


{% block content %}

    <div class="div">
        <div class="card1">
            <div class="card_header">
                <div class="profile_image1">
                    <a href="/user/{{image.user.id}}">
                        {% if image.user.profile.profile_photo%}
    
    
                        <img src="{{image.user.profile.profile_photo.url}}" class="rounded-circle border"
                            alt="{{image.user.profile.profile_photo.url}}" width="80" height="80">
                            {%else%}
                            <img src="../../../static/image/empty.webp">
                              {%endif%}
                            

                        </a>
                </div>
                <div class="post_info">
                    <div class="post_name">
                       <a href="">{{image.author}}</a> 
                    </div>
                    <div class="post_location">
                       <p><i class="fa-solid fa-location-dot"></i> &ensp;Newyork</p> 
                    </div>
                </div>
                <div class="post_options">
                    <i class="fa-solid fa-ellipsis fa-lg"></i>
                </div>
            </div>
            <div class="post_image1">
                <img src="{{image.image.url}}" alt="">
            </div>
            <div class="engagement">
                <div class="comment">
                    <a href="post/{{image.id}}/like"> <i class="far fa-heart fa-lg"></i></a>
                    <a href="post/{{image.id}}"><i class="fa-solid fa-comment fa-lg" ></i></a>
                    <a href=""><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
                   
                </div>
                <div class="dot">
                    <a href=""><i class="fa-solid fa-ellipsis fa-lg"></i><i class="fa-solid fa-ellipsis fa-lg"></i></a>
                </div>
                <div class="save">
                    <a href=""><i class="fa-solid fa-bookmark fa-lg"></i></a>
                </div>
                
            </div>
            <div class="clicks">
                 <p>{{image.like_count.count}} Likes</strong></p>
            </div>
            <div class="caption">
                <a href="">{{image.author}}</h2></a>
                <span><p>{{image.caption}}</p></span>
            </div>
            <div id="comments">
                {% if comments%}
                {% for comment in comments %}
                <h6> {%if image.user.profile.profile_pic %}
                    <img src="{{comment.user.profile.profile_photo.url}}" alt="" class="icon">{% endif %}
                    <b>{{comment.user}}</b> {{comment.content}}</h6>
                {% endfor %}
                {% else%}
                <p>No comments yet</p>
                {% endif %}


                <form action="" method="POST">
                    {% csrf_token %}
                   
                    <div class="form-group">
                        {{form.content}}
                    </div>
             


                <button type="submit" class="btn btn-dark">Post</button>

   </form>
            </div>
            

            <div class="date">
                {{image.created_on|timesince}} &ensp;  ago
            </div>
        </div>
    
    </div>






{%endblock%}