{% extends 'clone/base.html' %}

{% block content %}
   
    {% for post in posts %}
    <div class="main">
        <div class="first">

        </div>
        <div class="card">
            <div class="card_header">
                <div class="profile_image">
    
                </div>
                <div class="post_info">
                    <div class="post_name">
                        {{post.author}}
                    </div>
                    <div class="post_location">
                        Newyork
                    </div>
                </div>
                <div class="post_options">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </div>
            <div class="post_image">
                <img src="../../../static/image/flower.jpeg" alt="">
            </div>
            <div class="engagement">
                <div class="comment">
                    <a href="/"> <i class="far fa-heart fa-lg"></i></a>
                    <a href=""><i class="fa-solid fa-comment fa-lg"></i></a>
                    <a href=""><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
                </div>
                <div class="dot">
                    <a href=""><i class="fa-solid fa-ellipsis"></i><i class="fa-solid fa-ellipsis"></i></a>
                </div>
                <div class="save">
                    <a href=""><i class="fa-solid fa-bookmark"></i></a>
                </div>
                
            </div>
            <div class="clicks">
                <a href="">143</a>
            </div>
            <div class="caption">
                <a href=""><h2>{{post.author}}</h2></a>
                <span><p>{{post.caption}}</p></span>
            </div>
            <div class="date">
                {{post.created_on|timesince}} &ensp;  ago
            </div>
        </div>
        <div class="last">
            
        </div>

    </div>
    
 
  

    {% endfor %}


{% endblock %}
